<!DOCTYPE html>
<html>
<body>
	<meta charset="UTF-8">
	<h1>Anaemia Detection</h1>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

<html>

    <body>
        <div class="login">
        <form action='/predict' method="POST">

            Gender: <input type='text' name='gender'>Enter 0 for male and 1 for female<br><br>

			Hemoglobin: <input type='text' name='hemoglobin'><br><br>

            Mean Corpuscular Hemoglobin: <input type='text' name='mch'><br><br>

            Mean Corpuscular Hemoglobin Concentration: <input type='text' name='mchc'><br><br>

            Mean Corpuscular Volume: <input type='text' name='mcv'><br><br>
            (Enter Number values only for all the above inputs)<br><br>

            <input type='submit' value='PREDICT'>
             <br>
             <h1 class="res">{{result}}</h1>
        </form>
    </div>
    </body>