<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    a.navbar-brand{
        color: white;
    }
</style>
<body style="background-color:rgb(37, 150, 190)">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <nav class="navbar navbar-expand-lg navbar-light bg-dark p-3 text-bg-dark">
        <a class="navbar-brand" href="/" style= "color:white">FiftyBit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <button type= "submit" class="btn btn-danger btn-sm"><a class="nav-link" href="/signout">Sign Out</a></button>
                </li>
                {% else %}
                <li class="nav-item">
                    <button type= "submit" class="btn btn-warning btn-sm me-2"><a class="nav-link" href="/signup">Sign Up</a></button>
                </li>
                <li class="nav-item">
                    <button type= "submit" class="btn btn-success btn-sm" style="margin-left:5px"><a class="nav-link" href="/signin">Sign In</a></button>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    
    {% if user.is_authenticated %}
    <center><h3>Hello {{ username }}! Welcome to FiftyBit!</h3></center> 
    {% else %}
    <center><h3>Welcome to FiftyBit!</h3></center>
    {% endif %}
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
