{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body style="background-image: url(../static/bg1.webp);">
    <div class="box1">
        <div class="heading">
            TO DO LIST
        </div>
        <div class="sub">
            Daily Duties: A To-Do Guide
        </div>
        <div style="margin-left: 155px; font-size: 160%;">
            Register
        </div>
        <div class="message">
            {% for message in messages%}
            <h4>{{message}}</h4>
            {% endfor %}
        </div>
        <div class="form">
            <form action="register" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter Username" class="username" required="required">
                <br>
                <input type="email" name="email" placeholder="Enter EmailID" class="email" required="required">
                <br>
                <input type="password" name="password" placeholder="Enter Your Password" class="email" required="required">
                <br>
                <input type="password" name="password2" placeholder="Re-Enter Your Password" class="email" required="required">
                <br>
                <input type="submit" value="Register" class="submit">
            </form>
        </div>
        <div class="login">
            Already have account? <a href="{% url 'loginpage' %}" class="button">Login</a>
        </div>
    </div>
</body>
</html>